:root {
	--rounded: 12px;
	--space: 24px;

	--color-body-bg: rgb(29, 29, 29);

	--color-secondary: rgb(77, 77, 77);
	--color-primary: rgb(38, 38, 38);
	--color-text: rgb(255, 255, 255);
	--color-active-item: #2F2F2F;

	--skeleton-bg: rgb(232, 232, 232);
}

.dark {
	--color-body-bg: rgb(196, 196, 196);

	--color-secondary: rgb(228, 228, 228);
	--color-primary: rgb(255, 255, 255);
	--color-text: rgb(68, 68, 68);
	--color-active-item: #f0f0f0;

	--skeleton-bg: rgb(202, 202, 202);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	overflow: hidden;
	padding: 32px;
	background: var(--color-body-bg);
	transition: all 0.2s;
	line-height: 1.6;
	color: var(--color-text);
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 15px;
}